-dontpreverify
#不优化输入的类文件
-dontoptimize
#执行优化的次数（声明了“-dontoptimize”，则此项无效）
-optimizationpasses 5
#混淆的时候，不生成混合的类名（大小写组合）
-dontusemixedcaseclassnames
#不忽略非public的library类
-dontskipnonpubliclibraryclasses
#不忽略包可见的类库中的类成员（包括字段和方法）
-dontskipnonpubliclibraryclassmembers
#不对类文件进行预校验
-dontpreverify
#在进行加工的过程中输出相关的信息。如果程序终止，则输出整个堆栈信息
-verbose
#指定保留一项或多项属性不混淆。典型的可选属性有： Exceptions, Signature, Deprecated, SourceFile, SourceDir, LineNumberTable, LocalVariableTable, LocalVariableTypeTable, Synthetic, 
#EnclosingMethod, RuntimeVisibleAnnotations, RuntimeInvisibleAnnotations, RuntimeVisibleParameterAnnotations,RuntimeInvisibleParameterAnnotations,AnnotationDefault.
-keepattributes Exceptions,SourceFile,LineNumberTable
#-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

#-keep 指定某个类和类成员（字段和方法）不进行混淆
-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class * extends android.view.View

#short for keepclasseswithmembers
-keepclasseswithmembernames class * {
    native <methods>;
}

#指定的类和类成员被保留，所指定的类的所有成员都具有该条件
-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

#keepclassmembers 指定的类成员被保留，前提是它所在的类也被保留
-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-keep class * implements java.io.Serializable {
  public *;
}

